.estoque-box {
  background-color: white;
  flex: 5;
  border: 1px solid;
  justify-content: center;
}

.estoque-box h1{
  text-align: center;
  margin-top: 70px;
  font-weight: bold;
  font-size: 70px
}

.estoque-bar {
  display: flex;
  justify-content: end;
  padding: 10px 40px 10px 10px;
  margin-bottom: 50px;
  margin-top: 50px;

}

.estoque-bar button {
  height: 35px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tableEstoque {
  margin-left: 70px;
  width: 90%;
  border-collapse: collapse;
  border: 1px solid;

}

.tableEstoque th, .tableEstoque td {
  border-bottom: 1px solid #dcdcdc;
  text-align: center;
  border: 1px solid;
}

.tableEstoque th {
  background-color: #778899;
  text-align: center;
}

.botaoBuscar {
  width: 100px;
  height: 30px;
  margin-right: 130px;
}
.inputBusca::placeholder{
  color:black;

}

.inputBusca:hover{
  background-color: white;
}

.inputBusca {
  background-color: #dcdcdc;
  width: 600px;
  height: 30px;
  margin-right: 20px;
  border: 0.1px solid #778899;;
  border-radius: 8px;
}

.iconesCrud{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
}

.boxBotaoEstoque{
  display: flex;
  justify-content: end;
  margin-right: 40px;
}

.botaoCadastroEstoque{
  margin-right: 20px;
  color: black;
}

.textoEstoque h1{
  font-size: 50px;
  font-weight: bold;
}

.textoEstoque {
  margin-top: -40px;
}

tbody tr:nth-child(odd) {
  background-color: #dcdcdc;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.botaoMenuDepositos{
  padding: 10px 20px;
  border: none;
  background-color: #2f4f4f;
  color: yellow;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.botaoSubMenuEstoque{
  padding: 0px 20px;
  border: none;
  background-color: #2f4f4f;
  color: yellow;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size:10px
}

.botaoSubMenuLojaEstoque{
  padding: 0px 20px;
  border: none;
  background-color: #2f4f4f;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size:10px
}

