.menu-container {
    display: flex;
    height: 100vh;
}

.menu-box {
    background-color: #2f4f4f;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.profile-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid;
}

.image-placeholder {
    width: 120px;
    height: 120px;
    background-color: #f0f0f0;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-placeholder svg {
    width: 60px;
    height: 60px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.botaoMenu {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #2f4f4f;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.botaoMenu:hover {
    background-color: #3d6d6d;
    color: black;
}

.botaoMenuProduto {
    padding: 10px 20px;
    border: none;
    background-color: #2f4f4f;
    color: yellow;
    display: flex;
    align-items: center;
    text-decoration: none;
}

/*SEGURANDA PARTE*/

.loja-box {
    background-color: white;
    flex: 5;
    border: 1px solid;
    justify-content: center;
}

.loja-box h1 {
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
    font-size: 70px
}

.loja-bar {
    display: flex;
    justify-content: end;
    padding: 10px 40px 10px 10px;
    margin-bottom: 50px;
    margin-top: 50px;

}

.loja-bar button {
    height: 35px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tableLoja {
    margin-left: 70px;
    width: 90%;
    border-collapse: collapse;
    border: 1px solid;

}

.tableLoja th,
.tableLoja td {
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
    border: 1px solid;
}

.tableLoja th {
    background-color: #778899;
    text-align: center;
}

.botaoBuscar {
    width: 100px;
    height: 30px;
    margin-right: 130px;
}

.inputBusca::placeholder {
    color: black;

}

.inputBusca:hover {
    background-color: white;
}

.inputBusca {
    background-color: #dcdcdc;
    width: 600px;
    height: 30px;
    margin-right: 20px;
    border: 0.1px solid #778899;
    ;
    border-radius: 8px;
}

.iconesCrud {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
}

.boxBotaoLoja {
    display: flex;
    justify-content: end;
    margin-right: 40px;
}

.botaoCadastroLoja {
    margin-right: 20px;
    color: black;
}

.textoLoja h1 {
    font-size: 50px;
    font-weight: bold;
}

.textoLoja {
    margin-top: -40px;
}

tbody tr:nth-child(odd) {
    background-color: #dcdcdc;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.botaoSubMenuLoja {
    padding: 0px 20px;
    border: none;
    cursor: pointer;
    background-color: #2f4f4f;
    color: yellow;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 10px;
}

.botaoSubMenuDepositos {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #2f4f4f;
    color: yellow;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.botaoSubMenuEstoqueLoja{
    padding: 0px 20px;
    border: none;
    background-color: #2f4f4f;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size:10px
  }