.CadastroFornecedoresFormContainer {
  background-color: white;
  flex: 5;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.CadastroFornecedoresFormContainer h1 {
  display: flex;
  margin-left: 250px;
  margin-top: 120px;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;

}

.CadastroFornecedorFormGroup {
  margin-bottom: 15px;
}

.CadastroFornecedorFormGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 600px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.CadastroFornecedorSubmitButton {
  width: 600px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.CadastroFornecedorSubmitButton:hover {
  background-color: #0056b3;
}

.boxFormularioCadastroFornecedores {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 450px;
  display: flex;
  margin-left: 200px;
  border-top: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
}