.menu-container {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  
  .segunda-box {
    background-color: white;
    flex: 5;
    border:1px solid;
  }
  
  .segunda-box h1{
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
    font-size: 70px
  }

  